TWILIO_ACCOUNT_SID=your_account_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_NUMBER=+19292961896
MY_PHONE_NUMBER=+91xxxxxxxxxx
AGENT2_PHONE=
AGENT3_PHONE=
BASE_URL=
ODOO_URL=
ODOO_DB=
ODOO_USER=
ODOO_PASS=
